.col {
    max-width: 520px;
    float: left;
    text-align: left;
}

.calc {
    overflow: hidden;
}


.form-text {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #9AA0B9 !important;
}

.col > * {
    margin-bottom: 30px;
}

button.submitButton, button.submitButton:focus, button.submitButton:hover  {
    padding: 19px 40px;
    width: 300px;
    height: 57px;
    background: linear-gradient(94.77deg, #21B69B 46.15%, #45C881 105.05%);
    border-radius: 12px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;

    border: none;
}


.form-label {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #26143D;
  text-align: left;
  margin-bottom: 8px;
}

p {
    text-align: left;
}


button.submitButtonWhite, button.submitButtonWhite:focus, button.submitButtonWhite:hover  {
    width: 100%;
    height: 57px;
    background: #ffffff;
    color: rgb(55, 61, 63);
}

.button-btn {
}

.calc > .block-3 {
    padding-bottom: 70px;
}

