@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}



h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #26143D;
  text-align: left;
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 12px;
  height: 42px;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #21B69B;
}

.ant-select-focused .ant-select-selector {
  border-color: #21B69B !important;
  box-shadow: 0 0 0 2px #21b69b20 !important;
}

.ant-select-selection-placeholder {
  line-height: 39px !important;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
  border-color: #21B69B !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #21B69B !important;
}

.ant-radio-inner::after {
  background-color: #21B69B !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  line-height: 39px !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  margin-top: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

